@font-face {
  font-family: "Karen";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Karen/Karen.eot?#iefix") format("embedded-opentype"), url("../fonts/Karen/Karen.woff") format("woff"), url("../fonts/Karen/Karen.ttf") format("truetype"); }
